body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #33FF33;
  /* Classic Matrix green */
  background-color: black;
  overflow: hidden;
}

.top-left-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3; /* this should be above the '.landing-page::before' z-index */
  background: rgba(0, 0, 0, 0.6); /* semi-transparent black */
  color: #fff; /* white text */
  padding: 20px;
  border-radius: 15px;
}


.neon-text {
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #FFFFFF;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #1b6b17, 0 0 40px #1b6b17, 0 0 50px #1b6b17, 0 0 60px #1b6b17, 0 0 70px #1b6b17;
  position: absolute;
  top: 10px;
  left: 10px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}