.element-1 {
    width: 100px;
    height: 300px;
    background: linear-gradient(#d97736, #e5a76a);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.element-2 {
    width: 100px;
    height: 300px;
    background: linear-gradient(#a87f5f, #8b9496, #4c6d7c);
}

.element-3 {
    width: 100px;
    height: 300px;
    background: linear-gradient(#f6e1b1, #6c8b92);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.element {
    float: left;
    margin-right: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
