
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.hero {
    background-image: url('background.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 2em;
}
