
        body, html {
            margin: 0;
            padding: 0;
            background-color: #f4f7f6;
            color: #333;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        header {
            background-color: #1f2833;
            color: #66fcf1;
            padding: 20px;
            text-align: center;
        }
        nav {
            margin-top: 20px;
            text-align: center;
        }
        nav a {
            color: #66fcf1;
            text-decoration: none;
            margin: 0 10px;
            font-size: 1.1em;
            padding: 8px 16px;
            background-color: #1f2833;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        nav a:hover {
            background-color: #0b0f12;
        }
        .product-thumbnail {
            max-width: 500px; /* Medium to large thumbnail */
            margin: 20px auto;
            border-radius: 8px;
            overflow: hidden;
        }
        .product-thumbnail img {
            width: 100%;
            display: block;
        }
        .product-info {
            background-color: #c5c6c7;
            padding: 20px;
            margin: 0 auto;
            max-width: 800px; /* Larger box for detailed information */
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        nav a:hover {
            background-color: #333;
        }
        .footer {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        .footer a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }
        .footer a:hover {
            color: #4caf50;
        }
        .social-links {
            border: 1px solid #333; /* Add a border */
            padding: 10px; /* Add some padding */
            width: fit-content; /* Shrink the div to fit its content */
            margin: 0 auto; /* Center the div */
        }
        
        .social-links a {
            color: #f5f8f8;
            text-decoration: none;
        }
    